name: cpp-build

on:
  push:
    branches:
      - main
      - dev

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create build directory
        run: mkdir ./build

      - name: Install dependencies
        run: sudo apt-get update | sudo apt install libjsoncpp-dev

      - name: Compile
        run: g++ ./src/builder.cpp .src/folder-tag.h ./src/main.cpp -o .build/creator.o -ljsoncpp

      - name: Upload compiled file
        uses: actions/upload-artifact@v4
        with:
          name: build-compiled
          path: ./build/creator.o
          retention-days: 1
